.layout{
    width: 500px;
    height: 680px;
    background-color: antiquewhite;
    margin-top: 300px;
    text-align:center;
    padding-top:50px;
}

label{
    display:inline-block;
    width:80px;
}

.forms{
    border-radius:10px;
    width:280px;
    height:30px;
}

.about{
    border-radius:10px;
    width:280px;
    height:70px;
}

input::-ms-input-placeholder{text-align: center;}

input::-webkit-input-placeholder{text-align: center;}